<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>{{ metadatas['publication-title'] | default('Publication') }} • {{ siteTitle }}</title>
		{{ styles | raw }}

		<style type="text/css">
			@media print {
				@page { size: {{ metadatas['publication-page-format'] }} {{ metadatas['publication-page-orientation'] }};
				{% if metadatas['publication-print-marks'] == '1' %}
						bleed: 6mm;
						marks: crop cross;
				{% endif %}
				}
			}
		</style>

		<!-- Paged.js handles the printing layout -->
		<script type="module" src="{{ baseUrl }}/tools/publication/presentation/browser/print.js"></script>
		<script src="{{ baseUrl }}/tools/publication/presentation/browser/is-pdf-ready.js"></script>
	</head>

	<body class="{{ stylesModifiers | join(' ') }}">
		{% if metadatas['publication-cover-page'] == '1' %}
			<div class="include publication-cover">
        <h1 class="publication-title">{{ metadatas['publication-title'] }}</h1>


				{{ coverImage }}

        <p class="publication-description">{{ metadatas['publication-description'] }}</p>
        <p class="publication-author">{{ metadatas['publication-author'] }}</p>

			</div>
		{% endif %}

		{{ content | raw }}
	</body>
</html>

